{% extends "base.html.j2" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h1>Register</h1>
<div class="row">
  <div class="col-md-4">
      {{ wtf.quick_form(form) }}
  </div>
</div>
{% endblock %}
