{% extends 'base.html.j2' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

  <h1>{{ _('Write your comment here.') }}</h1>
  {% if form %}
  {{ super }}
  <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
  <script>tinymce.init({ selector:'textarea' });</script>
    <div class="row">
          <div class="col-md-12">
              {{ wtf.quick_form(form) }}
          </div>
    </div>
  {% endif %}
{% endblock %}
