{% extends "base.html.j2" %}

{% block app_content %}
  <h1>{{ _('An unexpected error has occured') }}</h1>
  <p>{{ _('The administrator has been notified. Sorry for the inconvenience!') }}</p>
  <p>
    <a href="{{ url_for('main.index') }}">Back</a>
  </p>
{% endblock %}
