<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <span class="user_popup">
        <img src="{{ post.author.avatar(70) }}" alt="">
        <a href="{{ url_for('main.user', username=post.author.username) }}">
          {{ post.author.username }}
        </a>
      </span>
      {{ _('said') }} {{ moment(post.timestamp).fromNow() }}
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h1>{{ post.title }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      {{ post.body }}

      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <span class="badge badge-secondary">{{ total_likes }} {{ _('Users liked this post') }}</span>
      <span class="badge badge-secondary">{{ total_dislikes }} {{ _('Users disliked this post') }}</span>

      {% if post.language and post.language != g.locale %}
        <br><br>
        <a href="#">{{ _('Translate') }}</a>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      {% if post.author.id == current_user.id %}
        <a class="btn btn-success" href="{{ url_for('main.edit_post', id=post.id) }}">{{ _("Edit Post") }}</a>
        <a class="btn btn-success" href="{{ url_for('main.delete_post', id=post.id) }}">{{ _("Delete Post") }}</a>
      {% endif %}
      <a class="btn btn-success" href="{{ url_for('main.set_like', id=post.id) }}">{{ _("Like") }}</a>
      <a class="btn btn-danger" href="{{ url_for('main.set_dislike', id=post.id) }}">{{ _("Dislike") }}</a>
      <a class="btn btn-primary" href="{{ url_for('main.send_comment', post_id=post.id) }}">{{ _("Add Comment") }}</a>
      <br><br>
    </div>
  </div>
  {% if comments %}
    {% for comment in comments %}
      {% if comment.post_id == post.id %}
      <div class="row">
        <div class="col-lg-12">
          <a href="{{ url_for('main.user', username=comment.username) }}">{{ comment.username }}</a>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
            {{ comment.body }}<br>
        </div>
      </div>
      {% endif %}
    {% endfor %}
  {% else %}
    <div class="row">
      <div class="col-lg-12">
          <h1>Comments are not available</h1>
      </div>
    </div>
  {% endif %}

  {% if message %}
    {{ message }}
  {% endif %}
</div>
