{% extends 'base.html.j2' %}
{% import 'bootstrap/wtf.html' as wtf %}
{{ ckeditor.load() }}
{{ ckeditor.load(pkg_type="full") }}

{% block app_content %}
{% if form %}
</script>
  <div class="row">
        <div class="col-md-12">
            {{ wtf.quick_form(form) }}
        </div>

        {{ ckeditor.load() }}
        {{ ckeditor.config(name='category') }}
  </div>
{% endif %}
{% endblock %}
