{% extends "base.html.j2" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
  <div class="container-fluid">
        {% for post in posts %}
          <div class="row">
            <div class="col-lg-12">
              <a href="{{ url_for('main.show_category', id=post.category_id) }}">
                {% for category in categories %}
                  {% if category.id == post.category_id %}
                    {{ category.title }}
                  {% endif %}
                {% endfor %}
              </a> -->
                <strong>{{ post.title }}</strong>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              {{ post.body|truncate(200) }}
            </div>
          </div>
          <div class="row">
            {% if post.comments|length == 0 %}
              <div class="col-lg-12">
                  <span class="badge badge-warning">{{ post.comments|length }} - {{ _('Comments left') }}</span>
              </div>
            {% else %}
              <div class="col-lg-12">
                  <a class="badge badge-secondary" href="{{ url_for('main.show_post', id=post.id) }}", id="post.id">{{ post.comments|length }} - {{ _('Comments left') }}</a>
              </div>
            {% endif %}
            {% if post.views_amount %}
              <div class="col-lg-12">
                <p class="badge badge-danger">{{ post.views_amount }} - {{ _('idiots watched this shit.') }}</p>
              </div>
            {% endif %}
            <br><br>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <a class="btn btn-success" href="{{ url_for('main.show_post', id=post.id) }}" >
                  {{ _('Read more...') }}<br>
              </a>
              <hr>
              <hr>
            </div>
          </div>
        {% endfor %}
        <div class="row">
          <div class="col-lg-12">
            <nav aria-label="...">
                 <ul class="pagination">
                     <li class="page-item previous{% if not prev_url %} disabled{% endif %}">
                         <a class="page-link" href="{{ prev_url or '#' }}">
                             <span aria-hidden="true">&larr;</span> {{ _('Newer posts') }}
                         </a>
                     </li>
                     <li class="page-item next{% if not next_url %} disabled{% endif %}">
                         <a class="page-link" href="{{ next_url or '#' }}">
                             {{ _('Older posts') }} <span aria-hidden="true">&rarr;</span>
                         </a>
                     </li>
                 </ul>
             </nav>
          </div>
        </div>
      </div>
{% endblock %}
