{% extends "base.html.j2" %}

{% block app_content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <img src="{{ user.avatar(128) }}">
      <h2>{{ _('Username: ') }}</h2>
      <a href="{{ url_for('main.user', username=user.username) }}">{{ user.username }}</a>
    </div>
    <div class="col-lg-8">
      {% if user.about_me %}
        <p>{{ user.about_me }}</p>
      {% endif %}

      {% if user.last_seen %}
        <p>{{ _('Last seen') }}: {{ moment(user.last_seen).format('LLL') }}</p>
      {% endif %}

      {% if user != current_user %}
        <p>
          <a class="btn btn-info" href="{{ url_for('main.send_message', recipient=user.username) }}">
            {{ _('Send private message') }}
          </a>
        </p>
      {% endif %}
    </div>
    <div class="col-lg-4">

    </div>
    <div class="col-lg-8">
      <p>{{ user.followers.count() }} {{ _('followers') }}, {{ user.followed.count() }} {{ _('following') }}.</p>
      {% if user == current_user %}
        <p><a class="btn btn-info" href="{{ url_for('main.edit_profile') }}">{{ _('Edit your profile') }}</a></p>
        {% if not  current_user.get_task_in_progress('export_posts') %}
          <p>
            <a class="btn btn-warning" href="{{ url_for('main.export_posts') }}">
              {{ _('Export your posts') }}
            </a>
          </p>
        {% endif %}
      {% elif not current_user.is_following(user) %}
        <p><a class="btn btn-warning" href="{{ url_for('main.follow', username=user.username) }}">{{ 'Follow' }}</a></p>
      {% else %}
        <p><a class="btn btn-danger" href="{{ url_for('main.unfollow', username=user.username) }}">{{ 'Unfollow' }}</a></p>
      {% endif %}
    </div>
  </div>

  {% for post in posts %}
    <div class="row">
      <div class="col-lg-12">
        <a href="{{ url_for('main.show_category', id=post.category_id) }}">
          {% for category in categories %}
            {% if category.id == post.category_id %}
              {{ category.title }}
            {% endif %}
          {% endfor %}
        </a> -->
        <strong>{{ post.title }}</strong>

        {{ post.body|truncate(200) }}
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <a class="btn btn-success" href="{{ url_for('main.show_post', id=post.id) }}" >
            {{ _('Read more...') }}<br>
        </a>
        <hr>
        <hr>
      </div>
    </div>
  {% endfor %}

  <div class="row">
    <div class="col-lg-12">
      <nav aria-label="...">
           <ul class="pagination">
               <li class="page-item previous{% if not prev_url %} disabled{% endif %}">
                   <a class="page-link" href="{{ prev_url or '#' }}">
                       <span aria-hidden="true">&larr;</span> {{ _('Newer Posts') }}
                   </a>
               </li>
               <li class="page-item next{% if not next_url %} disabled{% endif %}">
                   <a class="page-link" href="{{ next_url or '#' }}">
                       {{ _('Older Posts') }} <span aria-hidden="true">&rarr;</span>
                   </a>
               </li>
           </ul>
       </nav>
    </div>
  </div>
</div>


{% endblock %}
