{% extends 'base.html.j2' %}

{% block app_content %}
  <h1>{{ _('Search Results') }}</h1>
  {% if posts %}
    <h2>{{ _('Found posts:') }}</h2>
    {% for post in posts %}
      {% include 'main/_post.html.j2' %}
    {% endfor %}
  {% else %}
    <h1>{{ _('Posts not found.') }}</h1>
  {% endif %}

  {% if users %}
   <h2>{{ _('Found users:') }}</h2>
    {% for user in users %}
      <a href="{{ url_for('main.user', username=user.username) }}">{{ user.username }}</a><br>
    {% endfor %}
    {% else  %}
      <h1>{{ _('Users not found.') }}</h1>
  {% endif %}

  {% if users or posts %}
  <nav aria-label="...">
       <ul class="pagination">
           <li class="page-item previous{% if not prev_url %} disabled{% endif %}">
               <a class="page-link" href="{{ prev_url or '#' }}">
                   <span aria-hidden="true">&larr;</span> {{ _('Next results') }}
               </a>
           </li>
           <li class="page-item next{% if not next_url %} disabled{% endif %}">
               <a class="page-link" href="{{ next_url or '#' }}">
                   {{ _('Previous results') }} <span aria-hidden="true">&rarr;</span>
               </a>
           </li>
       </ul>
   </nav>
  {% endif %}
{% endblock %}
