{% extends 'base.html.j2' %}

{% block app_content %}
  <h1>{{ _('Messages') }}</h1>

  {% if messages %}
    {% for message in messages %}
      {% include 'messages/show_messages.html.j2' %}
    {% endfor %}
    <nav aria-label="...">
         <ul class="pagination">
             <li class="page-item previous{% if not prev_url %} disabled{% endif %}">
                 <a class="page-link" href="{{ prev_url or '#' }}">
                     <span aria-hidden="true">&larr;</span> {{ _('Newer messages') }}
                 </a>
             </li>
             <li class="page-item next{% if not next_url %} disabled{% endif %}">
                 <a class="page-link" href="{{ next_url or '#' }}">
                     {{ _('Older messages') }} <span aria-hidden="true">&rarr;</span>
                 </a>
             </li>
         </ul>
     </nav>
     {% else %}
      <h1>{{ _('You do not have any messages.') }}</h1>
  {% endif %}
{% endblock %}
