{% extends 'base.html.j2' %}
{% import 'bootstrap/wtf.html' as wtf %}
{{ ckeditor.load() }}
{{ ckeditor.load(pkg_type="full") }}

{% block app_content %}
  <h1>{{ _('Send message to %(recipient)s', recipient=recipient) }}</h1>
  <div class="row">
    <div class="col-md-4">
      {{ wtf.quick_form(form) }}
    </div>

    {{ ckeditor.load() }}
    {{ ckeditor.config(name='post') }}
  </div>
{% endblock %}
