<table class="table">
  <tr>
    <td width="70px">
      <img src="{{ message.author.avatar(70) }}" alt="">
    </td>
    <td>
      <span class="user_popup">
        <a href="{{ url_for('main.user', username=message.author.username) }}">
          {{ message.author.username }}
        </a>
      </span>
      {{ _('said') }} {{ moment(message.timestamp).fromNow() }}
      <br>
      {{ message.body }}

      <a class="btn btn-info" href="{{ url_for('main.send_message', recipient=message.author.username) }}">{{ _("Answer") }}</a>
      <a class="btn btn-danger" href="{{ url_for('main.delete_message', id=message.id) }}">{{ _("Delete") }}</a>
    </td>
  </tr>
</table>
