{% extends 'bootstrap/base.html' %}

{% block head %}
  {{ super() }}
  <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/external_styles.css') }}">
{% endblock %}

{% block title %}
    {% if title %}{{ title }} - Microblog{% else %}Welcome to Microblog!{% endif %}
{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/external_styles.css') }}">
{% endblock %}

{% block scripts %}
  {{ super() }}
  {{ moment.include_moment() }}
  {{ moment.lang(g.locale) }}

  <script>
  $(function () {
    var timer = null;
    var xhr = null;
    $('.user_popup').hover(
      function(event) {
            // mouse in event handler
            var elem = $(event.currentTarget);
            timer = setTimeout(function() {
                timer = null;
                xhr = $.ajax(
                    '/user/' + elem.first().text().trim() + '/popup').done(
                        function(data) {
                            xhr = null;
                            elem.popover({
                                trigger: 'manual',
                                html: true,
                                animation: false,
                                container: elem,
                                content: data
                            }).popover('show');
                            flask_moment_render_all();
                        }
                    );
            }, 1000);
        },
        function(event) {
            // mouse out event handler
            var elem = $(event.currentTarget);
            if (timer) {
                clearTimeout(timer);
                timer = null;
            }
            else if (xhr) {
                xhr.abort();
                xhr = null;
            }
            else {
                elem.popover('dispose');
            }
        }
    );
  });
  function set_message_count(n) {
    $('#message_count').text(n);
    $('#message_count').css('visibility', n ? 'visible' : 'hidden');
}
function set_task_progress(task_id, progress) {
    $('#' + task_id + '-progress').text(progress);
}
{% if current_user.is_authenticated %}
$(function() {
    var since = 0;
    setInterval(function() {
        $.ajax('{{ url_for('main.notifications') }}?since=' + since).done(
            function(notifications) {
                for (var i = 0; i < notifications.length; i++) {
                    switch (notifications[i].name) {
                        case 'unread_message_count':
                            set_message_count(notifications[i].data);
                            break;
                        case 'task_progress':
                            set_task_progress(notifications[i].data.task_id,
                                notifications[i].data.progress);
                            break;
                    }
                    since = notifications[i].timestamp;
                }
            }
        );
    }, 10000);
});
function set_task_progress(task_id, progress) {
            $('#' + task_id + '-progress').text(progress);
}
{% endif %}
</script>
{% endblock %}

{% block navbar %}
<div class="container">
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" style="margin-bottom: 120px;">
     <a href="#" class="pull-left"></a>
    <!-- <a class="navbar-brand mr-auto mr-lg-0" href="{{ url_for('main.index') }}">{{ _('Microblog') }}</a> -->
    <a class="navbar-brand" href="{{ url_for('main.index') }}"><img src="{{ url_for('static', filename='img/logo.png') }}"></a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="navbar-collapse collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('main.index') }}">{{ _('Home') }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('main.explore') }}">{{ _('Explore') }}</a>
        </li>
        {% if current_user.is_anonymous %}
          <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.login') }}">{{ _('Login') }}</a></li>
        {% else %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ _('Profile') }}</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="{{ url_for('main.messages') }}">
              {{ _('Messages') }}
              {% set new_messages = current_user.new_messages() %}
              <span id="message_count" class="badge" style="visibility:
                {% if new_messages %} visible
                {% else %} hidden
                {% endif %}
                ">
                {{ new_messages }}
              </span>
            </a>
            <a class="dropdown-item" href="{{ url_for('main.create_category') }}">{{ _('Create Category') }}</a>
            <a class="dropdown-item" href="{{ url_for('main.create_post') }}">{{ _('Create Post') }}</a>
            <a class="dropdown-item" href="{{ url_for('main.user', username=current_user.username) }}">{{ _('Profile') }}</a>
            <a class="dropdown-item" href="{{ url_for('main.change_password', username=current_user.username) }}">{{ ('Change Password') }}</a>
            <a class="dropdown-item" href="{{ url_for('auth.logout') }}">{{ _('Logout') }}</a>
          </div>
        </li>
        {% endif %}
      </ul>
      {% if g.search_form %}
      <form class="form-inline my-2 my-lg-0" method="get" action="{{ url_for('main.search') }}">
        <div class="form-group mr-sm-2">
            {{ g.search_form.q(size=20, class='form-control',
                placeholder=g.search_form.q.label.text) }}
        </div>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">{{ _('Search') }}</button>
      </form>
      {% endif %}
    </div>
  </nav>

</div>
{% endblock %}

{% block content %}
{{ super() }}
<div class="container-fluid" style="margin-top: 65px; margin-bottom: 25px;">
      {% if current_user.is_authenticated %}
        {% with tasks = current_user.get_tasks_in_progress() %}
          {% if tasks %}
            {% for task in tasks %}
              {{ task.description }}
              <span id="{{ task.id }}-progress">{{ task.get_progress() }}</span>%
            {% endfor %}
          {% endif %}
        {% endwith %}
      {% endif %}
      {% with messages = get_flashed_messages() %}
      {% if messages %}
          {% for message in messages %}
          <div class="alert alert-danger" role="alert">{{ message }}</div>
          {% endfor %}
      {% endif %}
      {% endwith %}

      {# application content needs to be provided in the app_content block #}
        <div class="row">
          <div class="col-lg-12">
            {% block app_content %}

            {% endblock %}
          </div>
        </div>
      {% block footer %}
      <footer class="footer bg-dark static-bottom fixed-bottom">
      <div class="container">
        <p class="text-muted">All rights reserved </p>
      </div>
    </footer>
    {% endblock %}
  </div>
{% endblock %}
